@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover {
    @apply underline;
  }
  button {
    padding: 4px 15px;
    color: var(--col-primary-accent);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    border: 2px solid var(--col-primary-accent);
  }
  button:hover {
    color: rgb(0, 0, 0);
    background-color: var(--col-primary-accent);
    transform: translateY(-2px);
  }
  input {
    outline: none;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(220, 220, 220);
    transition: border-color 0.15s ease-in-out;
    font-family: "Code", monospace;
  }
  input:focus {
    outline: none;
  }
  h1 {
    font-size: 30px;
  }
}
