.dividerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0 0.5rem 0;
  opacity: 0.85;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--col-secondary);
  opacity: 0.3;
}

.text {
  margin: 0 1rem;
  color: var(--col-secondary);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  user-select: none;
}
